interactions:
- request:
    body: !!python/unicode 'RegionCode=NNA&initial_app_str=9s5rfKVuMrT03RtzajWNcA'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://gdcportalgw.its-mo.com/api_v190426_NE/gdc/UserLoginRequest.php
  response:
    body: {string: !!python/unicode '{"status":200,"sessionId":"asdfasdfasdf","VehicleInfoList":{"VehicleInfo":[{"charger20066":"false","nickname":"LEAF2017","telematicsEnabled":"true","vin":"vin123"}],"vehicleInfo":[{"charger20066":"false","nickname":"LEAF2017","telematicsEnabled":"true","vin":"vin123","custom_sessionid":"csessid"}]},"vehicle":{"profile":{"vin":"vin123","gdcUserId":"","gdcPassword":"","encAuthToken":"asdfadsf","dcmId":"fdsa","nickname":"fdsa","status":"ACCEPTED","statusDate":"2017\/04\/15
        00:00"}},"EncAuthToken":"fdsa","CustomerInfo":{"UserId":"sdfd","Language":"en-US","Timezone":"asdf","RegionCode":"NNA","OwnerId":"asdf","EMailAddress":"testuser@gmail.com","Nickname":"aasdf","Country":"US","VehicleImage":"\/content\/language\/default\/images\/img\/ph_car.jpg","UserVehicleBoundDurationSec":"946771200","VehicleInfo":{"VIN":"vin123","DCMID":"fdsa","SIMID":"asdf","NAVIID":"fdsa","EncryptedNAVIID":"asdf","MSN":"asdf","LastVehicleLoginTime":"","UserVehicleBoundTime":"2017-04-15T21:24:23Z","LastDCMUseTime":"","NonaviFlg":"false","CarName":"LEAF","CarImage":"carimg1.png"}},"UserInfoRevisionNo":"1","ngTapUpdatebtn":"300000","timeoutUpdateAnime":"300000","G1Lw":"5","G1Li":"2","G1Lt":"20","G1Uw":"15","G1Ui":"2","G1Ut":"20","G2Lw":"15","G2Li":"2","G2Lt":"20","G2Uw":"15","G2Ui":"2","G2Ut":"20","resultKey":"aaa"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
