interactions:
- request:
    body: !!python/unicode 'RegionCode=NNA'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://gdcportalgw.its-mo.com/api_v190426_NE/gdc/BatteryStatusCheckRequest.php
  response:
    body: {string: !!python/unicode '{"status":200,"userId":"testuser@gmail.com","vin":"vin123","resultKey":"asdf"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'RegionCode=NNA&resultKey=asdf'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://gdcportalgw.its-mo.com/api_v190426_NE/gdc/BatteryStatusCheckResultRequest.php
  response:
    body: {string: !!python/unicode '{"status":200,"responseFlag":"0"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
