interactions:
- request:
    body: !!python/unicode 'RegionCode=NNA'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://gdcportalgw.its-mo.com/api_v190426_NE/gdc/BatteryStatusRecordsRequest.php
  response:
    body: {string: !!python/unicode '{"status":200,"VoltLabel":{"HighVolt":"240","LowVolt":"120"},"BatteryStatusRecords":{"OperationResult":"START","OperationDateAndTime":"2019\/09\/05
        18:37","BatteryStatus":{"BatteryChargingStatus":"NOT_CHARGING","BatteryCapacity":"240","BatteryRemainingAmount":"240","BatteryRemainingAmountWH":"22880","BatteryRemainingAmountkWH":"","SOC":{"Value":"100"}},"PluginState":"CONNECTED","CruisingRangeAcOn":"152000","CruisingRangeAcOff":"158000","NotificationDateAndTime":"2019\/09\/05
        18:37","TargetDate":"2019\/09\/05 18:37"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
